<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>supervised_user_circle</mat-icon>
  </button>
  <span>Student Portal</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="danger" (click)="goToFilter()">
    Filter
  </button>
  <button mat-raised-button color="warn" (click)="openDialog()">
    Add Student
  </button>
  <button mat-raised-button color="warn" (click)="openDialogTeacher()">
    Add Teacher
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
